// author: Renald Qereshniku
// date: Nov 6,2018

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$bgColor: #ffffff;

.wrapper {
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
    background-color: #ffffff;
}

.top-container {
  margin: auto;
  height: 65px;
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 6px;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 24px;
  color: #171717;
}

.top-right-container {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.member, .sign-in, button {
  padding-left: 20px;
  padding-right: 20px;
}

.green {
  color: #03a87c;
}

button {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #03a87c;
  border: solid;
  border-width: thin;
  border-color: #03a87c;
  border-radius: 12px;
}

.nav-links {
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color: #777777;
}

.nav-links li a:hover {
  color: #646464;
}

.top-stories {
  display: flex;
}

.column-one, .column-two, .column-three {
  width: calc(100%/3);
}

.hero {
  margin: auto;
  width: 90%;
  height: 300px;
  background-color: #eaf2ec;
  padding: 40px;
}

.hero-header1 {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
}

.flex {
  display: flex;
}

.flex-h {
  flex-direction: row;
}

.flex-v {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.photo {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin-left: 20px;
  margin-right: 20px;
}

.preview {
  font-family: 'Open Sans', sans-serif;
  color: #0000008a;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.author-and-category {
  font-family: 'Open Sans', sans-serif;
  color: #000000d2;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.posted {
  font-family: 'Open Sans', sans-serif;
  color: #000000d2;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.font-opensans {
  font-family: 'Open Sans', sans-serif;
}

.fw-b {
  font-weight: bold;
}

.grey {
  color: #0000008a;
}